@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Gracias a la variable Session se puede guardar información en la memoria del
    servidor y esto permite el paso de información entre las diferentes vistas o
    controladores, es útil por ejemplo para guardar productos en un carrito de la
    compra, crear listas de favoritos o almacenar información de usuario.
    Las variables almacenadas son únicas para cada usuario. Es importante saber que
    la información guardada en Session se pierde cuando el usuario cierra la
    aplicación o transcurren 30 minutos de inactividad.
    En este material voy a hacer una pequeña guía de ejemplo de Sessión mostrando
    unos productos de una base de datos SQL y dando la opción de añadirlos a
    un carrito de la compra.
</p>
